body,
html {
  margin: 0;
  font-family: "Nunito", sans-serif;
}

.form-container {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  bottom: 5vh;
}
.form-container h1 {
  font-size: 4rem;
  margin-top: 0;
}

.form-box {
  background-color: #fff;
  padding: 1vh 10vh 5vh 10vh;
  border-radius: 20px;
  box-shadow: 0px 0px 23px -5px rgba(0, 0, 0, 0.156);
  -webkit-box-shadow: 0px 0 14px -1px rgba(0, 0, 0, 0.156);
  -moz-box-shadow: 0px 0px 23px -5px rgba(0, 0, 0, 0.156);
}
#form-email,
#form-password {
  display: block;
  margin-bottom: 3vh;
  border-radius: 7px;
  padding: 10px 12px;
  border: 0;
  width: 15vw;
  box-shadow: 0px 0px 23px -5px rgba(0, 0, 0, 0.08);
  -webkit-box-shadow: 0px 0 14px -1px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: 0px 0px 23px -5px rgba(0, 0, 0, 0.08);
  transition: all 200ms;
}

#form-email[placeholder],
#form-password[placeholder] {
  font-family: "Nunito", sans-serif;
}

#form-email:focus-visible,
#form-password:focus-visible {
  outline-style: 0;
  outline-width: 0;
  box-shadow: 0px 0px 23px -5px rgba(0, 0, 0, 0.156);
  -webkit-box-shadow: 0px 0 14px -1px rgba(0, 0, 0, 0.156);
  -moz-box-shadow: 0px 0px 23px -5px rgba(0, 0, 0, 0.156);
}
label[for="email"],
label[for="password"] {
  font-weight: bold;
  display: block;
  margin: 0.4vw 0;
}

.form-box h3 {
  text-align: center;
  font-size: 1.3rem;
  margin-bottom: 3rem;
}

#form-btn {
  cursor: pointer;
  position: relative;
  background-color: #3886e6;
  border-radius: 5px;
  float: right;
  border: 0;
  padding: 1vh 1vw;
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  color: #fff;
  transition: all 200ms cubic-bezier(0, 1.1, 0.67, 1.1);
  left: 1vw;
}

#form-btn:hover {
  background-color: #65a0e7;
  transform: scale(1.1);
  box-shadow: 0px 0px 23px -5px rgba(0, 0, 0, 0.156);
  -webkit-box-shadow: 0px 0 14px -1px rgba(0, 0, 0, 0.156);
  -moz-box-shadow: 0px 0px 23px -5px rgba(0, 0, 0, 0.156);
}
#form-btn:active {
  background-color: #4fd87b;
  transform: scale(0.9);
}

.form-bottom-text {
  display: block;
  position: relative;
  top: 1vh;
  font-size: smaller;
}
